:root {
  --form-background: #cacaca;
}

main {
  padding-top: 12vmax;
}

textarea {
  background: var(--form-background);
  height: 6vw;
  margin-top: 2vw;
  width: 20vw;
}

#num-comments {
  background: var(--form-background);
  width: 35px;
}

#comments-thread-container {
  list-style-type: none;
  width: 80vw;
}

#comments-thread-container > li {
  border: solid 2px #008bb3;
  margin: 0vw;
  padding: 2vh 2vw;
}
