/* General Elements */
body {
  background-color: #02003C;
  color:rgb(160, 160, 160);
}

#header {
  padding-top: 8vh
}
 
.content {
  padding-top: 2vh;
  padding-left: 12vw;
  z-index:0;
}
 
.section {
  padding-top: 30vw;
}
 
img {
  height: 10%;
  width: 10%;
}
 
/* Navigation Bar */
#outter-nav {
  top: 0;
  width: 100vw;
  position: fixed;
  background-color: #02003C;
  color: #55FBDC;
  padding: 2vmin;
  padding-top: 3vmin;
 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
 
#home-logo {
  color: #55FBDC;
  text-align: center;
  flex-basis: 12%;
  flex-shrink: 0;
  text-decoration: none;
  font-size: 22pt;
}

/* Right-side Nav Container */
#inner-nav {
  /* Flex item properies */
  flex-basis: 80vw;
  padding-right: 3%;
  font-size: auto;
  font-family: Arial, Helvetica, sans-serif;
 
  /* Flex container properites */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
 
#inner-nav > div{
  flex-basis: 10%;
  padding-right: 3%;
  align-self: center;
}
  
.nav-lnk {
  display: block;
  color: #55FBDC;
  text-align: center;
  text-decoration: none;
}
 
.nav-lnk:hover {
  color: white;
}

/* Side Bar */
/* |--> Container */
#sidebar {
  width:85px;
  height:100%;
  z-index:1;
  float:left;

  position:fixed;
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  #sidebar {
    width:100vw;
    height:60px;
    bottom: 0;
    z-index:2;
    background:rgb(160,160,160,.3);

    position:fixed;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  #blue-bottom{
    width:100vw;
    height:85px;
    bottom: 0;
    z-index:1;
    background-color: #02003C;

    position:fixed;
  }
}

/* |--> Container Elements */
#sidebar > div {
  flex-shrink: 0;
  align-self: center;
  flex-basis: 50px;
  width: 50px;
  margin-top: 5px;
  

  text-align: left;
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  #sidebar > div {
    flex-shrink: 0;
    align-self: center;
    flex-basis: 50px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;

    text-align: center;
    font-size: 22px;
  }
}
 
#sidebar > div > a {
  opacity:1 !important;
  color:rgb(160, 160, 160) !important;
  z-index:3;
}